<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tugasakhir" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        android:screenOrientation="sensorPortrait" />

    <application
        android:name=".TugasAkhirContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir"
        tools:targetApi="31" >
        <activity
            android:name=".ReportRCVB"
            android:exported="false" />
        <activity
            android:name=".ReportHBAG"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.tugasakhir.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ReportHACB"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailScanBagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailOutstandingActivity"
            android:exported="false" />
        <activity
            android:name=".RevisiDestinasiBag"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceivingBagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RDBDebugger"
            android:exported="false"
            android:label="@string/title_activity_rdbdebugger"
            android:theme="@style/Theme.TugasAkhir.NoActionBar" />
        <activity
            android:name=".ViewDetailHoBag"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".DetailConnoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PortraitCaptureActivity"
            android:screenOrientation="portrait" > <!-- Mengunci orientasi ke portrait -->
        </activity>
        <activity
            android:name=".ButtonViewDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HandoverBagActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logOutActivity"
            android:exported="true" />
    </application>

</manifest>